@font-face {
  font-family: GT America Expanded;
  src:url(../fonts/CGT-America-Expanded-Medium.woff) format("woff"),
      url(../fonts/GT-America-Expanded-Bold.woff) format("woff");
  
  font-style:normal;
}
